.home {
	// ==== section link to pages & opening time ====
	&__boxes {
		margin: 70px 0;
		@include flex(row, center, space-between);
		flex-wrap: wrap;
		color: $color-light;
		font-family: $font-header;
	}

	&__box {
		position: relative;
		border-radius: $radius;
		overflow: hidden;

		&-title {
			position: absolute;
			text-transform: uppercase;
			font-size: 28px;
			margin: 8px;
			top: 50%;
			transform: translateY(-50%);
			transition: $transition;
		}

		&-info-text {
			position: absolute;
			bottom: -35px;
			font-family: $font-text;
		}

		&-last-title {
			text-transform: uppercase;
			font-size: 28px;
			margin: 8px;
		}

		&-subtitle {
			text-transform: uppercase;
			font-size: 16px;
			font-family: $font-text;
			margin: 8px;
		}
	}

	&__small-box {
		position: relative;
		@include flex(column, center, center);
		flex: 0 0 49%;
		height: 150px;
		background-position: center;
		background-size: cover;
		overflow: hidden;
		cursor: pointer;

		&:hover .home__box-info-text {
			bottom: 10px;
			transition: $transition-slower;
		}
		&:hover .home__box-title {
			top: 40px;
		}
	}

	&__order-box {
		background-image: url('../../images/assets/pizza-1.jpg');
	}
	&__book-box {
		background-image: url('../../images/assets/pizza-2.jpg');
	}

	&__opening-box {
		@include flex(column, center, center);
		flex: 0 0 100%;
		background-color: $color-main;
		height: 150px;
		margin-top: 10px;
	}
}

// ============ Section Carousel ===========

.main-carousel {
	margin: 80px 0;
	height: 250px;
}
.carousel-cell {
	width: 100%;
	height: 250px;
	margin-right: 10px;
	@include flex(row, center, space-between);

	img {
		flex: 0 0 35%;
		height: 250px;
		width: 250px;
		object-fit: cover;
	}

	.carousel-text {
		flex: 0 0 60%;
		padding: 5px 15px;

		.carousel-title {
			font-weight: $font-bold;
			text-transform: uppercase;
		}

		.carousel-author {
			font-style: italic;
		}
	}
}

// Section Gallery

.home__gallery {
	margin: 30px 0;
	@include flex(row, center, space-between);
	flex-wrap: wrap;

	.home__img-box {
		position: relative;
		flex: 0 0 32%;
		height: 200px;
		margin: 5px 0;
		background-position: center;
		background-size: cover;

		&:hover .home__img-shadow {
			@include flex(row, center, center);
		}

		.home__img-shadow {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.489);
		}

		i.fa-solid {
			padding: 5px;
			margin: 0 4px;
			color: $color-light;
			font-size: $base-size * 2;
			cursor: pointer;
			&:hover {
				color: $color-main;
			}
		}
	}
	.instagram-link {
		margin-top: 5px;
		color: $color-main;
	}

	.gallery-img1 {
		background-image: url('../../images/assets/pizza-4.jpg');
	}
	.gallery-img2 {
		background-image: url('../../images/assets/pizza-5.jpg');
	}
	.gallery-img3 {
		background-image: url('../../images/assets/pizza-6.jpg');
	}
	.gallery-img4 {
		background-image: url('../../images/assets/pizza-7.jpg');
	}
	.gallery-img5 {
		background-image: url('../../images/assets/pizza-8.jpg');
	}
	.gallery-img6 {
		background-image: url('../../images/assets/pizza-9.jpg');
	}
}
